/* GENERAL */
body {
  background-color: #fafafa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e8e8e8' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding-bottom: 200px;
}
section {
  margin: 100px 0;
}
h5 {
  color: #3668ff;
  font-size: 1.75rem;
}
p {
  font-size: 1.1rem;
}
a {
  color: #3668ff;
}
.section-title {
  color: #3668ff;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

/* INTRO SECTION */
.intro h1 {
  color: #3668ff;
  letter-spacing: 5px;
  font-size: 4rem;
}
.intro h4 {
  color: #3668ff;
  font-style: italic;
  letter-spacing: 5px;
  font-size: 2rem;
}
.intro .lead {
  margin: 30px 0;
  font-size: 1.5rem;
}
.intro .btn {
  margin: 0 auto;
  display: block;
  padding: 20px 50px;
  font-size: 1.2rem;
  background-color: #3668ff;
  display: block;
  width: fit-content;
}
.intro .btn svg {
  font-size: inherit;
  margin-right: 12px;
  width: 28px;
  height: 28px;
}
.sub-title {
  font-size: 1.9rem;
  color: #3668ff;
  font-style: italic;
  letter-spacing: 5px;
}

/* FEATURES */
.feature {
  font-size: 1.4rem;
  margin: 0 0 20px 20px;
}
.feature svg {
  margin-right: 12px;
  fill: #3668ff;
}
.col-lg-6:nth-child(1) {
  margin-bottom: 50px;
}
